.nybanner2 {
    width: 100%;
    height: 520px;
}
.guides{
	padding: 100px 0;
}
.guides h3{
    font-size: 2.5em;
    color: #EB6F63;
    margin: 0;
    padding-bottom: 1em;
    text-align: center;
    position: relative;
}
.container{
	width: 80%;
}
.container>h3:before{
    background: #EB6F63;
    width: 20%;
    height: 3px;
    content: '';
    position: absolute;
    bottom: 8%;
    left: 34%;
}
.dummy-text {
    font-size: 16px;
    margin: 0;
    line-height: 1.8em;
    color: #888;
    text-align: center;
    padding-left: 23em;
    text-transform: capitalize;
}
.travel-guide-item-thumbnail {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    float: left;
    width: 40%;
    height: 0;
    padding-bottom: 28%;
}
.carousel {
    position: relative;
}
.travel-guide-item-thumbnail .carousel-indicators {
    bottom: -6px;
    left: 13px;
    width: auto;
    margin-left: 0;
}
.travel-guide-item-description {
    background-repeat: no-repeat;
    background-position: 50% center;
    float: right;
    width: 60%;
}
h4{
    font-size: 24px;
    text-align: center;
}
h5 {
    font-weight: bold;
    text-align: center;
}
